body, html {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.app {
  position: absolute;
  top: 0px;
  left: 0px;
}

.overlay {
  z-index: 100;
  font-family: 'Courier New', Courier, monospace;
}

.title-page-outside-container {
  // Replace with asset from our server eventually, or bundled
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/e4/StarfieldSimulation.gif');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.title-page-inside-container {
  z-index: 101;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  align-items: center;
  justify-items: center;
}

.title-banner-container {
  white-space: pre;
  color: green;
  font-size: 6px;
  z-index: 100;
  grid-column: 2;
  grid-row: 1;
  margin-top: 20px;
}

.title-menu-outside-container {
  margin-top: 2em;
  grid-column: 2;
  grid-row: 2;
  width: 55%;
  border-style: solid;
  border-color: green;
  border-radius: 20px;
  border-width: 2px;
}

.title-menu-inside-container {
  margin: 2px;
  border-style: solid;
  border-color: green;
  border-radius: 20px;
  border-width: 2px;
  text-align: center;
}

.status-view {
  margin-left: 10px;
  margin-right: 10px;
}

.title-menu-inside-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.title-menu-inside-container ul :last-child{
  margin-bottom: 10px;
}

.title-menu-inside-container button {
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid green;
  border-radius: 8px;
  color: green;
  padding: 1em;
  font-size: 16px;
  width: 12em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
}

// #start-button {
//   opacity: 0.5;
// }

.title-menu-inside-container button:hover {
  background-color: green;
  color: black;
}

.status-view {
  color: green;
  z-index: 100;
  grid-column: 2;
  grid-row: 2;
  text-align: center;
  font-size: 16px;
}

.dev-menu {
  text-align: center;
  background-color: white;
  height: 100vh;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.dev-menu-content-container {
  flex-grow: 1;
  flex-basis: 40%;
}

.dev-menu-content {
  text-align: left;
}

.dev-menu-option-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}